---
crate: trendy_test
layout: gnatdoc
gnatdoc: {
name: "Trendy_Test.Reports",
qualified_name: "Trendy_Test.Reports",
signature: "trendy_test.reports",
enclosing: "trendy_test",
is_private: false,
documentation: "Prints the results of a given test and sets a failure exit code.",
documentation_snippet: "",
}
---
